<section>
    <div class="container my-3">
        <div class="card w-100" style="background: rgb(251, 251, 251);">
            <div class="card-body">
                <div class="row gy-4 align-items-stretch">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/assets/Images/profilePic.png" width="80"
                                    style="border: #fff 3px solid;background: #e3e0e0;"
                                    class="img-thumbnail rounded-pill" alt="...">
                            </div>
                            <div class="col">
                                <h5 class="card-title">Riddhi Rathod</h5>
                                <p class="card-text">9152991518<br>riddhirajivrathod@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card w-100 h-100">
                            <div class="card-body text-center">
                                <h1 class="card-title" style="color: #bf9161;">0</h1>
                                <h5 class="card-title">LoyalTea Points</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card w-100 h-100">
                            <div class="card-body text-center">
                                <h1 class="card-title" style="color: #bf9161;">0</h1>
                                <h5 class="card-title">Chaayos Cash</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card w-100 h-100">
                            <div class="card-body text-center">
                                <h1 class="card-title" style="color: #bf9161;">0</h1>
                                <h5 class="card-title">Gift Card Balance</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card w-100 h-100">
                            <div class="card-body text-center">
                                <h1 class="card-title" style="color: #bf9161;">RID1518</h1>
                                <h5 class="card-title">Referral Code</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card w-100 h-100">
                            <div class="card-body text-center">
                                <button type="button" class="btn" style="background: rgb(94, 126, 71);color: white;"><b>Start
                                    referring</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>