<div class="collapse" id="navbarToggleExternalContent2">
  <div class="bg-light p-4 position-relative text-center">
    <button type="button" class="btn-close ms-auto d-flex" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent2" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"></button>
    <h5 class="mb-4">Select your choices to start placing order</h5>
    <div class="mb-4">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Take Away</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Dine In</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">Delivery</label>
      </div>
    </div>
    <div class="btn-group mb-4" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
      <label class="btn btn-light rounded-pill mx-2" for="btnradio1">New Delhi</label>
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
      <label class="btn btn-light rounded-pill mx-2" for="btnradio2">Gurgaon</label>
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
      <label class="btn btn-light rounded-pill mx-2" for="btnradio3">Ghaziabad</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" checked>
      <label class="btn btn-light rounded-pill mx-2" for="btnradio4">Chandigarh</label>
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
      <label class="btn btn-light rounded-pill mx-2" for="btnradio5">Noida</label>
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
      <label class="btn btn-light rounded-pill mx-2" for="btnradio6">Karnal</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off" checked>
      <label class="btn btn-light rounded-pill mx-2" for="btnradio7">Faridabad</label>
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
      <label class="btn btn-light rounded-pill mx-2" for="btnradio8">Mumbai</label>
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">
      <label class="btn btn-light rounded-pill mx-2" for="btnradio9">Bangalore</label>
    </div>
    <div class="col-6 d-flex mx-auto mb-5">
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    
    <div class="down"></div>
  </div>
</div>
<div id="mainnav">
  <div class="collapse sidenav" id="navbarToggleExternalContent">
    <div class="p-4" style="height: 100vh;background-color: white;">
      <button type="button" class="btn-close ms-auto d-flex" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"></button>
      <a class="navbar-brand w-100 d-flex" href="#"><img src="/assets/Images/logo.png" width="160" class="img-fluid mb-4 mx-auto"></a>
      <ul class="list-group h5">
        <li class="list-group-item border-0 pb-3 d-flex align-items-center" routerLink="/" style="color: #62635e;"><img src="/assets/Images/homeIcon.svg" width="26" class="img-fluid me-2">Home</li>
        <li class="list-group-item border-0 pb-3 d-flex align-items-center" routerLink="/profile" style="color: #62635e;"><img src="/assets/Images/profile.svg" width="26" class="img-fluid me-2">Profile</li>
        <li class="list-group-item border-0 pb-3 d-flex align-items-center" routerLink="/cart" style="color: #62635e;"><img src="/assets/Images/iconCart.svg" width="26" class="img-fluid me-2">My Cart</li>
        <li class="list-group-item border-0 pb-3 d-flex align-items-center" routerLink="/order" style="color: #62635e;"><img src="/assets/Images/iconMyorders.svg" width="26" class="img-fluid me-2">My Orders</li>
        <li class="list-group-item border-0 pb-3 d-flex align-items-center"  style="color: #62635e;"><img src="/assets/Images/download.svg" width="26" class="img-fluid me-2">Logout</li>
      </ul>
      <ul class="list-group h5" style="border-top: 1px solid lightgray;">
        <li class="list-group-item border-0 pb-3" routerLink="/store" style="color: #a6a6a0;" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">Stores</li>
        <li class="list-group-item border-0 pb-3" routerLink="/about-us" style="color: #a6a6a0;" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">About Us</li>
        <li class="list-group-item border-0 pb-3" routerLink="/contact-us" style="color: #a6a6a0;" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">Contact Us</li>
        <li class="list-group-item border-0 pb-3" routerLink="/terms-and-conditions" style="color: #a6a6a0;" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">Terms & Conditions</li>
        <li class="list-group-item border-0 pb-3" routerLink="/privacy-policy" style="color: #a6a6a0;" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">Privacy Policy</li>
      </ul>
    </div>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark py-2 fixed-top">
  <div class="container-fluid my-1">
    <div class="row w-100 align-items-center">
      <div class="col-auto" *ngIf="navshow=='menu'">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon icon1"></span>
        </button>
      </div>
      <div class="col-auto" *ngIf="navshow=='back'">
        <button class="navbar-toggler" type="button" routerLink="/">
          <span class="navbar-toggler-icon icon2"></span>
        </button>
      </div>
      <div class="col-auto ps-0 logo">
        <a class="navbar-brand w-100 d-flex " href="#"><img src="/assets/Images/logo.png" width="100" class="img-fluid mb-1 mx-auto"></a>
      </div>
      <!-- <div class="col-auto">
        <div style="display: inline-block;"><div class="outletWrapper ellipsis mt-1"  data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent2" aria-controls="navbarToggleExternalContent2" aria-expanded="false" aria-label="Toggle navigation"><div class="tagLine">Take Away</div>Mulund Runwal Greens<img class="downIcon" src="/assets/Images/iconDown.png"></div></div>
      </div> -->
      <div class="col-auto ms-auto" *ngIf="navshow=='menu'">
        <div class="position-relative">
          <img src="/assets/Images/cart.svg" width="20px" class="img-fluid"> <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill" style="background: #3b1712;
          color: #bf9161;
          border: solid 1px #f9d99e;
          box-shadow: 0 1px 2px 0 rgb(0 0 0 / 50%);">2</span>
        </div>
      </div>
    </div>
  </div>
</nav>