<section>
    <div class="container my-3">
        <div class="card w-100" style="background: rgb(251, 251, 251);">
            <div class="card-body">
                <div class="row gy-4 align-items-stretch">
                    <div class="col-12">
                        <h4 class="text-center">Privacy Policy</h4>
                    </div>
                    <div class="col-12">
                        <p class="card-text small">The concept of chai adda or "Tea Room" took centre stage in our
                            country for many years, with discussions on life, society and politics happening over chai.
                            It was a place that brought together the young and old, rich and not-so-well to do. A kadak
                            chai and samosa shared after work, an irani chai with bun maska over meeting a prospective
                            life partner, or a hot adrak chai in the morning to wake you up - chai was a part of every
                            social setting for us.</p>
                        <p class="card-text small">Yet somewhere along the line, this rich heritage of chai addas was lost and "Chaa" took a backseat - taken over by the multinational coffee chains, suddenly chai was no longer the beverage that we bonded over.</p>
                        <p class="card-text small">Chaayos was born in November 2012 out of this premise - a contemporary interpretation of the chai adda, serving freshly made chai. Our focus is on serving your "Meri Wali Chai", a chai made exactly to our customers' liking the minute they place their order - be it an adrak tulsi kadak chai or a paani kam elaichi cinnamon chai. Our option of 12 add-ons gives our customers a total of over 12,000 ways to make their chai at Chaayos.</p>
                        <p class="card-text small">Chaayos is currently present in Mumbai , Delhi, Noida and Gurgaon.</p>
                        <p class="card-text pt-3 small"><b>Company CIN: U55204DL2012PTC304447</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>