<section>
    <div class="container my-3 mt-5">
        <div class="row gy-3 align-items-stretch pt-5">
            <div class="col-12">
                <div class="card w-100 p-2 rounded-pills gray-shadow" style="background-color: #3b1712;">
                <h4 class="mb-0 text-center fw-blod" style="font-family: 'Festive', cursive;color: #dcbe82;">Coffee</h4>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pcoffee7.jpg" class="card-img-top" alt="...">
                        <div class="overlay">
                            <span class="badge rounded-pill bg-danger position-absolute" style="bottom: 10px;left: 10px;">OUT OF STOCK</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">cappuccino (200ml)</h5>
                                <p class="card-text small">espresso, steamed milk, milk foam</p>
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pcoffee6.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Espresso (200ml)</h5>
                                <!-- <p class="card-text small">Chaayos Holi Special</p> -->
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pcoffee8.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Espresso macchiato (200ml)</h5>
                                <p class="card-text small">espresso, milk foam</p>
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pcoffee4.jpg" class="card-img-top" alt="...">
                        <div class="overlay1">
                            <span class="badge rounded-pill bg-success position-absolute" style="bottom: 10px;left: 10px;">MUST TRY</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Espresso con panna (200ml)</h5>
                                <p class="card-text small">espresso, whipped cream</p>
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pcoffee1.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Americano (200ml)</h5>
                                <p class="card-text small">espresso, water</p>
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pcoffee11.jpg" class="card-img-top" alt="...">
                            <div class="overlay1">
                                <span class="badge rounded-pill bg-info position-absolute" style="bottom: 10px;left: 10px;">NEW</span>
                            </div>
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Caffè Latte (200ml)</h5>
                                <p class="card-text small">espresso, steamed milk, milk foam</p>
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pcoffee5.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Caffè Mocha (200ml)</h5>
                                <p class="card-text small">espresso, chocolate syrup, steamed milk, whipped cream</p>
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pcoffee3.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Cafe Breve (200ml)</h5>
                                <p class="card-text small">espresso, steamed half-and-half, milk foam</p>
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
            <!-- <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pcoffee7.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Gujiya-Pack of 6 (200ml)</h5>
                                <p class="card-text small">Chaayos Holi Special</p>
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pcoffee9.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Gujiya-Pack of 6 (200ml)</h5>
                                <p class="card-text small">Chaayos Holi Special</p>
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pcoffee10.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Gujiya-Pack of 6 (200ml)</h5>
                                <p class="card-text small">Chaayos Holi Special</p>
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pcoffee12.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Gujiya-Pack of 6 (200ml)</h5>
                                <p class="card-text small">Chaayos Holi Special</p>
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pcoffee2.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Gujiya-Pack of 6 (200ml)</h5>
                                <p class="card-text small">Chaayos Holi Special</p>
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div> -->
        </div>
        <div class="row gy-3 align-items-stretch pt-5">
            <div class="col-12">
                <div class="card w-100 p-2 rounded-pills gray-shadow" style="background-color: #3b1712;">
                <h4 class="mb-0 text-center fw-blod" style="font-family: 'Festive', cursive;color: #dcbe82;">Tea</h4>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/ptea1.jpg" class="card-img-top" alt="...">
                        <div class="overlay1">
                            <span class="badge rounded-pill bg-warning position-absolute" style="bottom: 10px;left: 10px;">BEST SELLING</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">cappuccino (200ml)</h5>
                                <p class="card-text small">espresso, steamed milk, milk foam</p>
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/ptea2.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Espresso (200ml)</h5>
                                <!-- <p class="card-text small">Chaayos Holi Special</p> -->
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
        <div class="row gy-3 align-items-stretch py-5">
            <div class="col-12">
                <div class="card w-100 p-2 rounded-pills gray-shadow" style="background-color: #3b1712;">
                <h4 class="mb-0 text-center fw-blod" style="font-family: 'Festive', cursive;color: #dcbe82;">Bites</h4>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pbite1.jpg" class="card-img-top" alt="...">
                        <div class="overlay1">
                            <span class="badge rounded-pill bg-warning position-absolute" style="bottom: 10px;left: 10px;">BEST SELLING</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Garlic Bread</h5>
                                <!-- <p class="card-text small">espresso, steamed milk, milk foam</p> -->
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pbite2.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Chicken Cheese Ball</h5>
                                <!-- <p class="card-text small">Chaayos Holi Special</p> -->
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹314</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pbite3.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Chilly Cheese Ball</h5>
                                <!-- <p class="card-text small">Chaayos Holi Special</p> -->
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹200</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pbite4.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Fried Chicken</h5>
                                <!-- <p class="card-text small">Chaayos Holi Special</p> -->
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹350</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
            <div class="col-md-6 col-xl-4 px-0 px-md-3">
                <div class="card w-100 h-100  rounded-pills overflow-hidden  bg-light-brown gray-shadow">
                    <div class="position-relative">
                        <img src="/assets/Images/pbite5.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col">
                                <h5 class="card-title">Paneer Tikka</h5>
                                <!-- <p class="card-text small">Chaayos Holi Special</p> -->
                            </div>
                            <div class="col-auto">
                                <div class="row h-100 justify-content-end">
                                    <div class="col-12 p-0">
                                        <h5 class="card-title d-flex mb-3"><span class="ms-auto">₹300</span></h5>
                                    </div>
                                    <div class="col-12 p-0 align-self-end" style="width: fit-content;">
                                        <a href="#" class="btn btn-position rounded-pill py-0 px-3"><i class="mdi mdi-plus mb-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
    </section>