.parallax {
    /* The image used */
    background-image: linear-gradient(0deg, rgba(191, 145, 97,0.6), rgba(191, 145, 97,0.6)), url("/assets/Images/bg1.jpeg");
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax2 {
    /* The image used */
    background-image: linear-gradient(0deg, rgba(191, 145, 97,0.6), rgba(191, 145, 97,0.6)), url("/assets/Images/tea3.jpg");
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax3 {
    /* The image used */
    background-image: linear-gradient(0deg, rgba(191, 145, 97,0.6), rgba(191, 145, 97,0.6)), url("/assets/Images/SALAD1.jpg");
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax4 {
    /* The image used */
    background-image: linear-gradient(0deg, rgba(191, 145, 97,0.6), rgba(191, 145, 97,0.6)), url("/assets/Images/PIZZA1.jpg");
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax5 {
    /* The image used */
    background-image: linear-gradient(0deg, rgba(191, 145, 97,0.6), rgba(191, 145, 97,0.6)), url("/assets/Images/desserts1.jpg");
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  