<div class="container-fluid py-3" style="background-color: #bf9161;color: #3b1712;">
    <div class="container">
        <div class="row align-items-end">
            <div class="col">
                <p>About Us</p>
                <p>Contact Us</p>
                <p class="mb-0">Terms And Conditions</p>
            </div>
            <div class="col-auto d-flex ms-auto">
                <div class="socialLinkWrapper">
                    <a href="https://www.facebook.com/chaayos" target="_blank" alt="Chaayos at Facebook">
                        <img src="/assets/Images/facebook.png" width="30" class="mx-2">
                    </a>
                    <a href="https://twitter.com/chaayos" target="_blank" alt="Chaayos Twitter page">
                        <img src="/assets/Images/twitter.png" width="30" class="mx-2">
                    </a>
                    <a href="https://instagram.com/chaayos" target="_blank" alt="Chaayos Instagram Page">
                        <img src="/assets/Images/instagram.png" width="30" class="mx-2">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid py-3" style="background: #f4f4f4;">
    <div class="container">
        <div class="row">
        <div class="col-12">
            <small>© Chaayos, Sunshine Teahouse Pvt. Ltd. All rights Reserved. CIN: U55204DL2012PTC304447</small>
        </div>
    </div>
    </div>
</div> -->